<div class="dropdown" ng-controller="d2DrowdownPeriodController">
 <div class="dropdown">
	  <label> Periodo</label>
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    {{periodName?periodName:'Seleccione el periodo'}}
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCountry">
		   <li ng-repeat="data in ListPeriod.periods">
			   <a  ng-click='selectPeriod(data)'>{{data.name}}</a>
		   </li>
	   </ul>
	</div>
	
</div>

