<h2>{{ 'DATA_IMPORT' | translate }}</h2>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li ng-class="{'active': activeTab == 1}" role="presentation"><a ng-click="setActiveTab(1)" href="">{{ 'Manual' }}</a></li>
            <li ng-class="{'active': activeTab == 2}" ng-if="isOnline" role="presentation"><a ng-click="setActiveTab(2)" href="">{{ 'Validation'  }}</a></li>
             
        </ul>
    </div>
</div>


<div class="row" >
    <div class="col-md-12">
        <div ng-if="activeTab === 1">
            <import-data-manual></import-data-manual>
        </div>
        <div ng-if="activeTab === 2">
            <imported-data></imported-data>
        </div>
      
    </div>
</div>