<link rel="stylesheet" type="text/css" href="modules/availabledata/availabledataCss.css" />
<h2>{{ 'AVAILABLE_DATA' | translate}}</h2>	
<table class="table table-bordered table-condensed table-hover" ng-show="tableDisplayed">
	<thead>
		<tr>
			<th class="orgunit">Orgunit</th>
			<th ng-repeat="pe in periods">{{ pe.name }}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="ou in orgunits | orderBy:'fullName'" id="{{ ou.id }}" 
			ng-show="{{ ou.parents }}" ng-click="clickOrgunit(ou.id)" on-last-repeat ng-animate="'animate'">
			<td class="level{{ ou.level }}">{{ ou.name }}</td>
			<td ng-repeat="pe in periods" class="{{ ou.id }} {{ pe.id }}" title="{{ou.name}} - {{pe.name}}"></td>
		</tr>
	</tbody>
</table>
<d2-progressbar></d2-progressbar>