<div class="dropdown" ng-controller="d2DropdownOptionSetController">
 <div class="dropdown">
	  <label> Set de opciones</label>
	  <br>
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    {{optionsetName?optionsetName:'Seleccione el set de opciones'}}
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCountry">
		   <li ng-repeat="data in ListOptionset.optionSets">
			   <a  ng-click='selectoptionset(data)'>{{data.name}}</a>
		   </li>
	   </ul>
	</div>
</div>

