<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row form-inline">
                <div class="col-md-5">
                    <label for="missions">{{ 'TITLE_MISSION' | translate }}</label>
                    <select id="missions" class="filter-select form-control"
                            ng-model="selection.mission" ng-change="modifyMission()"
                            ng-options="mission as mission.name for mission in missions
									| orderBy:'name' track by mission.id">
                        <option value="">-</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <label for="projects">{{ 'TITLE_PROJECT' | translate }}</label>
                    <select id="projects" class="filter-select form-control"
                            ng-model="selection.project" ng-change="modifyProject()"
                            ng-options="project as project.name for project in projects
									| orderBy:'name' track by project.id">
                        <option value="">-</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>